pandas
numpy
nltk
scikit-learn
seaborn
matplotlib
keras
tensorflow
transformers
torch
torchvision
lime
xgboost
altair==4.0
streamlit==1.0.0
tweet-preprocessor
pandas-profiling
psaw
loguru~=0.5.3
typer~=0.3.2
praw~=7.1.0
codetiming~=1.2.0
PyYAML~=5.3.1
prawcore~=1.5.0
tqdm~=4.56.0
pretty-errors~=1.2.19
pushshift.py~=0.1.2
streamlit-modal==0.0.5
streamlit-option-menu==0.3.2
gensim